@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  ---main-color: #7744d9;
  ---global-text-color: #7a7a7a;
}

body {
  font-family: "Inter", sans-serif;
}

/* default */
.global-text {
  color: var(---global-text-color);
}

.main-h {
  font-size: 36px;
}

.em-bar {
  height: 5px;
  width: 90px;
  background: #aec6ef;
  margin: 20px auto;
  position: relative;
  border-radius: 30px;
}
.em-bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #7744d9;
  -webkit-animation-duration: 3s;
  animation-duration: 6s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
  animation-name: MOVE-BG;
}

@keyframes MOVE-BG {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    right: 100%;
  }
}

.hero-bg {
  position: relative;
  height: 550px;
  display: grid;
  place-items: center;
  background-image: url("C:\Users\hp\Desktop\DSL\client\public\images\bg-nen.jpg");
  background-size: cover;
  background-position: center center;
}

.hero-bg .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.hero-bg .text-wrapper {
  position: relative;
}
.hero-bg .text-wrapper h2 {
  color: #fff;
  font-weight: bold;
  font-size: 31px;
  text-align: center;
}

.hero-bg .text-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hero-bg .text-wrapper ul li {
  color: #fff;
  margin: 0 6px;
  text-transform: uppercase;
}

.hero-bg::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(41, 52, 92, 0.62);
  top: 0;
  left: 0;
}
.tab-btns {
  display: flex;
  gap: 20px;
}
.tab-btn {
  color: #000;
  padding: 4px 20px;
  background-color: #fff;
  border-radius: 4px;
  font-weight: bold;
  border: none;
}

/* Responsive styles for mobile devices */
@media screen and (max-width: 767px) {
  .nav-link {
    color: #000;
  }
  .hero-bg {
    height: 400px;
  }
  .hero-bg img {
    /* Adjust the image width for mobile devices */
    background-size: cover;
  }

  .hero-bg::before {
    /* Adjust the overlay background color for mobile devices */
    background-color: rgba(41, 52, 92, 0.8);
  }
}
/* hero bg */

/* about company */
.abt-company {
  margin-top: 150px;
  margin-bottom: 20px;
}
.abt-col h5 {
  color: #7744d9;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;

  letter-spacing: 2px;
}
.abt-col h1 {
  font-weight: bold;
}
.icon-box i {
  font-size: 30px;
  color: #7744d9;
}
.abt-col p {
  font-size: 15px;
}
.content h2 {
  color: #232323;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 5px;
  text-align: start;
  transition: 0.3s;
}
.content p {
  font-size: 15px;
  text-align: justify;
}
/* about company */

.client {
  background-color: #271151;
  margin-top: 100px;
}
.client-col {
  border: 1px solid #eee;
  padding: 30px 0;
  position: relative;
  border-radius: 4px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.client-col .client-icon {
  position: absolute;
  top: -40px;
}
.client-col .client-icon i {
  text-align: center;
  font-size: 35px;
  color: #7744d9;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 100%;
  line-height: 80px;
  border: 1px solid #7744d9;
}
.counter-content {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}
.counter-content .counter-number {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}
.counter-content .counter-suffix {
  font-size: 30px;
  font-weight: 800;
  color: #fff;
}
/* client */

/* why choose us */
.why-choose {
  margin-top: 100px;
}

.why-choose .container h5 {
  color: #7744d9;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-align: center;
}
.why-choose .container h1 {
  font-size: 33px;
  margin-bottom: 0px;
  text-transform: capitalize;
  margin-top: 0;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}
.why-col {
  padding: 30px 30px 28px;
  text-align: left;
  position: relative;
  background: #fff;
  transition: 0.5s;
  margin-bottom: 30px;
  border: 2px dotted #c2a9f0;
  animation: animated-border 5s linear infinite;
}

@keyframes animated-border {
  0% {
    border-color: #c2a9f0;
  }
  25% {
    border-color: #f0a9c2;
  }
  50% {
    border-color: #a9f0c2;
  }
  75% {
    border-color: #f0c2a9;
  }
  100% {
    border-color: #c2a9f0;
  }
}

.why-box-icon {
  color: #333;
  font-size: 35px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: relative;
  display: block;

  float: left;
  margin-right: 35px;
}
.why-box-icon h2 {
  width: 90px;
  height: 90px;
  line-height: 88px;
  text-align: center;
  position: relative;
  border: 2px dotted #ffffff;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 600;
  color: #c216db;
  -webkit-animation: border-transform 7s linear infinite alternate forwards;
  animation: border-transform 7s linear infinite alternate forwards;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #c2a9f0;
  display: inline-block;
}

@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}
.why-box-icon .why-box-number span i {
  margin-bottom: 20px;
  display: inline-block;
  color: #7744d9;
  width: 50px;
  height: 50px;
  background: #fff;
  line-height: 50px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  font-size: 24px;
  position: relative;
  border-radius: 100%;
  position: absolute;
  top: 62px;
  left: 56px;
  text-align: center;
}
.why-col-content h2 {
  margin: 0 0 12px 0;
  transition: 0.5s;
  font-size: 22px;
  font-weight: bold;
}
.why-col-content .description p {
  font-size: 15px;
}
.why-col-content .description a {
  color: #7744d9;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 10px;
}
@media screen and (max-width: 500px) {
  .why-choose .container h1 {
    font-size: 24px;
    margin-bottom: 0px;
    text-transform: capitalize;
    margin-top: 0;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
  }
}
/* why choose us */

/* footer */

footer {
  background-color: #eff2f7;
  padding: 78px 0 85px;
}
.footer-logo {
  background-color: transparent;
  border: none;
}
.footer-p {
  font-size: 14px;
}
.footer-title {
  font-size: 20px !important;
  margin: 0 0 35px;
}
.links ul {
  position: relative;
}
.links ul li {
  position: relative;
  font-size: 14px;
  color: #7a7a7a;
  margin-top: 6px;
}
.footer-icon {
  color: #616161;
}

@media screen and (max-width: 767px) {
  .main-h {
    font-size: 26px;
  }
}
