@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* body {
  font-family: "Poppins", sans-serif !important;
} */
.hero-bg {
  position: relative;
  height: 550px;
  display: grid;
  place-items: center;
  background-image: url("C:\Users\hp\Desktop\DSL\client\public\images\bg-nen.jpg");
  background-size: cover;
  background-position: center center;
}

.hero-bg .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.hero-bg .text-wrapper {
  position: relative;
}
.hero-bg .text-wrapper h2 {
  color: #fff;
  font-weight: bold;
  font-size: 31px;
  text-align: center;
}

.hero-bg .text-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hero-bg .text-wrapper ul li {
  color: #fff;
  margin: 0 6px;
  text-transform: uppercase;
}

.hero-bg::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(41, 52, 92, 0.62);
  top: 0;
  left: 0;
}
/* Responsive styles for mobile devices */
@media screen and (max-width: 767px) {
  .nav-link {
    color: #000;
  }
  .hero-bg {
    height: 400px;
  }
  .hero-bg img {
    /* Adjust the image width for mobile devices */
    background-size: cover;
  }

  .hero-bg::before {
    /* Adjust the overlay background color for mobile devices */
    background-color: rgba(41, 52, 92, 0.8);
  }
}
/* hero bg */

.form-container {
  margin-top: 100px !important;
  margin-bottom: 40px;
}
.form-col {
  padding: 30px 30px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 10px;
}
.form-col h4,
.register-form h4 {
  color: #7744d9;
}
label {
  margin-right: 1rem;
  color: var(--title-color);
  font-weight: 500;
  margin-bottom: 0.65rem;
  margin-top: 1rem;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  letter-spacing: -0.011em;
}
.input,
select,
option {
  padding: 4px 10px;
  width: 100%;
  color: #333;
  border-radius: 4px;
  font-size: 14px;
  transition: ease 0.7s;
  border: 1px solid #e4e5e7;
}

.register-form {
  padding: 30px 30px 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.register-form form .input,
select {
  width: 100% !important;
}

.register-form form div {
  width: 100% !important;
}

select option {
  border: 1px solid #fff;
}
select option:focus {
  border: 1px solid #e4e5e7;
}
.input:focus {
  border: 1px solid #7744d9;
  outline: none !important;
}

.input:hover {
  border: 1px solid #7744d9;
}
.form-btn {
  border-radius: 6px;
  border: 0;
  padding: 6px 28px;
  background-color: #7744d9;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
}
.forgot-password {
  text-decoration: none;
  color: #7744d9;
  font-size: 14px;
  margin-left: 10px;
  text-decoration: underline;
  margin-top: 20px;
  font-weight: bold;
}

.register {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #7a7a7a;
  font-size: 15px;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 1s ease;
}
.register::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.7s ease;
}
.register:hover {
  color: #000;
}
.register:hover::after {
  width: 100%;
  background-color: #7744d9;
}
@media screen and (max-width: 767px) {
  .form-col,
  .register-form {
    width: 90% !important;
  }
  .form-div {
    flex-wrap: wrap;
    gap: 0px !important;
  }
}
.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.error-message {
  color: red;
}
